<h1>Evenement</h1>

<p>
    <strong>Titre</strong>
    <%= @evenement.title %>
</p>

<p>
    <strong>Description</strong>
    <%= @evenement.description %>
</p>

<h2>Urls</h2>

<p>
    <strong>ticket</strong>
    <%= @evenement.url_ticket%>
</p>

<p>
    <strong>source</strong>
    <%= @evenement.url_source %>
</p>

<h2>Adresse</h2>

<p>
    <strong>rue</strong>
</p>

<%= link_to 'Back', evenements_path %>



