<h1>Adresse</h1>

<p>
    <strong>Pays</strong>
    <%= @adresse.pays %>
</p>

<p>
    <strong>Province</strong>
    <%= @adresse.province %>
</p>

<p>
    <strong>Code Postal</strong>
    <%= @adresse.code_postal %>
</p>

<p>
    <strong>Ville</strong>
    <%= @adresse.ville %>
</p>

<p>
    <strong>Rue</strong>
    <%= @adresse.rue %>
</p>

<p>
    <strong>Numéro</strong>
    <%= @adresse.numero %>
</p>

<p>
    <strong>Boite</strong>
    <%= @adresse.boite %>
</p>


<p>
    <strong>Complément</strong>
    <%= @adresse.complement %>
</p>

<p>
    <strong>Latitude</strong>
    <%= @adresse.latitude %>
</p>

<p>
    <strong>Longitude</strong>
    <%= @adresse.longitude %>
</p>

